<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyntaxHighlighter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SyntaxHighlighter.Properties.Settings>
            <setting name="PHP_EXE" serializeAs="String">
                <value>C:\SDK\geshi-word-addin\php\php.exe</value>
            </setting>
            <setting name="CLI_SCRIPT" serializeAs="String">
                <value>C:\SDK\geshi-word-addin\cli.php</value>
            </setting>
            <setting name="LANGUAGE" serializeAs="String">
                <value>php</value>
            </setting>
            <setting name="LINE_NUMBERS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GESHI_SCRIPT" serializeAs="String">
                <value>C:\SDK\geshi-word-addin\geshi\geshi.php</value>
            </setting>
            <setting name="GESHI_LANGUAGES" serializeAs="String">
                <value>C:\SDK\geshi-word-addin\geshi\geshi</value>
            </setting>
            <setting name="SELECTED_LANGUAGES" serializeAs="String">
                <value />
            </setting>
            <setting name="AVAILABLE_LANGUAGES" serializeAs="String">
                <value />
            </setting>
            <setting name="TAB_WIDTH" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GESHI_LANGUAGES_LAST_WRITE_DATE_TIME" serializeAs="String">
                <value />
            </setting>
            <setting name="MARKER_EXTRA_HIGHLIGHTED_LINES" serializeAs="String">
                <value>!!!</value>
            </setting>
        </SyntaxHighlighter.Properties.Settings>
    </userSettings>
</configuration>